doctype html
html(lang="en")
	head
		title="idk what im doin"
		meta(charset="UTF-8")/
		script(type="text/javascript", src="libraries/p5.js").
		script(type="text/javascript", src="libraries/p5.dom.js").
		script(type="text/javascript", src="libraries/p5.sound.js").
		
		style="body {padding: 0; margin: 0;}"
	body
		nav
			a(href="/") idk what im doing |
			a(href="/flares") flares |
			a(href="/circles") circles |
		div(style="position: absolute;left: 520px;")
			h1(id="totalEllipses")
			button(id="reset") reset
		script(type="text/javascript", src="idk.js").